# Docker
Dockerfile
docker-compose*
compose.yaml
.dockerignore

# License
LICENSE

# ReadMe
README.md

# MakeFile
Makefile

# Git
.git
.gitignore

# Environments
venv/
.venv

# PyCharm
.idea/

# Python
**/__pycache__/

# Data
data/

# Init
init/