# Docker
**/Dockerfile*
**/docker-compose*
**/compose.yaml
**/.dockerignore

# Git
**/.git
**/.gitignore

# License
**/LICENSE

# ReadMe
**/README.md

# Environments
**/venv
**/.venv

# Editor-Specified Files
**/.idea/

# Python
**/__pycache__

# Data
**/data/